.infinite_jump {
	animation: jumping 1s ease-out infinite both;
}

@keyframes jumping {
	0% {
		opacity: 0.1;
		transform: translateY(-3px);
	}
	30% {
		opacity: 1;
		transform: translateY(3px);
	}
	35% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
		transform: translateY(-3px);
	}
}

.prepare_slide_up {
	transform: translateY(50px);
	opacity: 0;
	transition: all 0.8s ease-out;
}
.start_slide {
	transform: translateY(0);
	opacity: 1;
}
